@import "tailwindcss";

:root {
  --background: #F5F5F8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #2C3A61;
  --color-primary-light: #4A60A1;
  --color-primary-extra-light: #EDEFF6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
